[Unit]
Description=Kotatsu sync server
After=network.target
After=mysql.service
Requires=mysql.service

[Service]
Type=simple
User=kotatsu
Group=kotatsu

PIDFile=/opt/kotatsu/service.pid
WorkingDirectory=/opt/kotatsu/
Environment=JWT_SECRET=replaceme
Environment=DATABASE_USER=replaceme
Environment=DATABASE_PASSWORD=replaceme

Environment=DATABASE_HOST=localhost		#Default value
Environment=DATABASE_PORT=3306			#Default value
Environment=DATABASE_NAME=kotatsu_db	#Default value
Environment=ALLOW_NEW_REGISTER=true		#Default value, change this to 'false' after register your account if you don't want anybody to use your syncserver

ExecStart=java -jar kotatsu-syncserver-0.0.1-all.jar

[Install]
WantedBy=multi-user.target
